.counterWrapper{
  width: 300px;
  margin: 20px auto;
  border: 1px solid #bbb;
  border-radius: 7px;
}
.counterDisplay{
  padding: 20px;
  border: 1px solid #bbb;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30;
  font-weight: bold;
  border-radius: 7px 7px 0 0;
}
.counterButtons{
  display: flex;
  justify-content: space-between;
  border: 1px solid #bbb;
  border-radius: 0px 0 7px 7px;
  padding: 20px;
}
.counterButton{
  border: 1px solid #bbb;
  border-radius: 7px;
  padding: 5px;
  cursor: pointer;

}